nav {
    background: black;
    height: 15vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-links {
    padding-inline-end: 7px;
    padding-inline-start: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
}

.nav-links li a {
    color: antiquewhite;
    text-decoration: none;
    font-size: 16px;
}

@media screen and (max-width: 768px) {

    .line{
        background: white;
        width: 30px;
        height: 3px;
        margin: 5px;        
    }

    nav {
        position: relative;
    }

    .hamburguer {
        position: absolute;
        cursor: pointer;
        top: 50%;
        right: 5px;
        transform: translate(-5%, -50%);
        z-index: 2;
    }

    .nav-links {
        position: fixed;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        background: black;
        /* display: none; */
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10);
        transition: all 1s ease-out;
    }
    
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10);
    }
}